In [1]:
import numpy as np

In [3]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print price_array, type(price_array)

[ 143.73  145.83  143.68  144.02  143.5   142.62] <type 'numpy.ndarray'>

In [4]:
Ar = np.array([[1,3],[2,4]])
print Ar, type(Ar)

[[1 3]
 [2 4]] <type 'numpy.ndarray'>

In [5]:
print Ar.shape

(2, 2)

In [6]:
print Ar[0]
print Ar[1]

[1 3]
[2 4]

In [7]:
print 'the first column: ', Ar[:,0]
print 'the second column: ', Ar[:,1]

the first column:  [1 2]
the second column:  [3 4]

In [8]:
print np.log(price_array)

[ 4.96793654  4.98244156  4.9675886   4.96995218  4.96633504  4.96018375]

In [9]:
print np.mean(price_array)
print np.std(price_array)
print np.sum(price_array)
print np.max(price_array)

143.896666667
0.967379047852
863.38
145.83

In [10]:
import pandas as pd

In [11]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [12]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
print s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [13]:
s.index = [6,5,4,3,2,1]
print s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [14]:
print s[1:]
print s[:-2]

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [15]:
print s[4]
s[4] = 0
print s

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [16]:
s = pd.Series(price, name = 'Apple Price List')
print s
print s.name

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [17]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print time_index
s.index = time_index
print s

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [18]:
s.index = [6,5,4,3,2,1]
print s
print s[1]

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [19]:
print s.iloc[1]

145.83

In [20]:
s.index = time_index
print s['2017-01-03']

143.68

In [21]:
print s['2017-01-02':'2017-01-05']

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [22]:
print s[s < np.mean(s)] 
print s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))]

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Price List, dtype: float64